* {
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;
}

main, nav {
    width: 1200px;
    margin: auto;
}

section {
    margin-bottom: 30px;
}

section>div.destination-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

article.destination-card {
    position: relative;
}
article.destination-card:hover {
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

article.destination-card>a {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
}

article.destination-card img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: left top;
}

article.destination-card {
    display: grid;
    font-size: 1.1em;
    line-height: 1.2;
    text-align: center;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 0px #d3d3d3;
    transition: all 100ms ease-in;
    margin-bottom: 15px
}

.destination-card-hover:hover {
    cursor: pointer;
    box-shadow: 2px 2px 9px 2px #d3d3d3;
}

article>.destination-card-body {
    padding: 0 15px;
}

article>.destination-card-body div.destination-card-details {
    font-size: 0.8em;
    line-height: 1.5;
}

article>.destination-card-body div.destination-card-details div span:nth-of-type(odd) {
    font-weight: bold;
}

article>.destination-card-body div.destination-card-details div {
    display: grid;
    grid-template-columns: 150px 1fr;
}

article>.destination-card-body div.destination-card-details,
article>.destination-card-body div.destination-card-description {
    letter-spacing: 1px;
    text-align: justify;
    padding-bottom: 15px;
}

article>.destination-card-body div.destination-card-description {
    font-size: 1em;
    /* height: 100px; */
}

/* Show */
div.single-destination-card-wrapper article {
    width: 800px;

}

div.single-destination-card-wrapper article {
    width: 800px;
    margin: auto;
}

div.single-destination-card-wrapper article.destination-card img {

    height: 400px
}

div.single-destination-card-wrapper article>.destination-card-body {
    padding: 0 30px;
}

div.single-destination-card-wrapper article>.destination-card-body div.destination-card-details {
    font-size: 0.9em;
}

div.single-destination-card-wrapper article>.destination-card-body div.destination-card-description {
    font-size: 1.1em;
    text-indent: 50px;
}

div.single-destination-card-wrapper article>.destination-card-body div.destination-card-details,
div.single-destination-card-wrapper article>.destination-card-body div.destination-card-description {
    padding-bottom: 30px;
}



.single-destination-card-wrapper{
    display: flex;
    gap:10px;
}

.single-destination-card-wrapper{
    display: flex;
    gap:10px;
}

.single-destination-card-wrapper aside div{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.single-destination-card-wrapper aside div img{
    width: 340px;
    height: 240px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.single-destination-card-wrapper aside div img:hover{
        box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);

}

.single-destination-card-wrapper aside div img:active{
    -webkit-transform: scale(2);
    transform: scale(2.5);
    cursor: zoom-out;
}
.my-button {
    background-color: rgb(164,151,144);
    margin: 0.2rem;
    padding: 0.8rem;
    margin-bottom: 0.4rem;
    border: 1px solid white;
    border-radius:2rem;  
}

.my-button:hover {
    background-color: white;
    border: 1px solid rgb(164,151,144);
}

.my-button a{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

.my-button a:hover{
    color: rgb(164,151,144);
    text-decoration: underline;
}

article>.destination-card-body div.destination-card-description div button {
    background-color: blue;
}


div.single-destination-card-wrapper>article.destination-card header h2 {
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


div.single-destination-card-wrapper>article.destination-card div.destination-card-body div.destination-card-details div span {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.single-destination-card-wrapper>article.destination-card div.destination-card-body div.destination-card-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.destination-cards article.destination-card.destination-card-hover header h2{
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.destination-cards article.destination-card.destination-card-hover div.destination-card-body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}