body {
    background-color: wheat;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    transition: all 5s;
    transition-delay: 1s;
    background-color: red;
    margin: 5rem;
    color: black;
}

p {
    color: white;
    text-decoration: none;
}

.box:hover {
    background-color: blueviolet;
    transform: rotate(360deg);
    border-radius: 50%;
    font-size: 1.5rem;
    width: 150px;
    height: 150px;
    color: white;
    text-align: none;
    margin-left: 10rem;
}

.element {
    display: inline-block;
    text-align: center;
    background-color: #095394;
    height: 150px;
    width: 150px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    color: white;
    opacity: 0.7;
    margin-top: 100px;
    margin-left: 100px;
    animation: moving 5s infinite;
    transform: rotate(30deg);
  }
  
  @keyframes moving {
    0% {
      transform: rotate(0);
      opacity: 0;
    }
    100% {
      transform: rotate(360deg);
      opacity: 1;
      background-color: #206cad;
    }
  }