table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
};

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card > img {
    width: 100px;
  }
  