table, th, td {
    text-align: left;
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid black;
}

th {
    width: 250px;
}

td {
    width: 150px
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.green {
    background-color: lightgreen;
}

.white-text {
    color: white;
}