table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
};

#answer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px; 
}
  
img {
    width: 300px;
}
  
p {
    font-weight: bolder;
}
