.green-wrapper {
    background-color: rgb(2,212,177);
    padding: 2rem;
    padding-left: 5rem;
    margin-top: 2rem;
}

.white-text {
    color: white;
    font-weight: 200;
}

.grey-text {
    color:rgb(91, 91, 91);
    font-weight: 500;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

.button-area {
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.white-button {
    padding: 0.3rem 1rem; 
    background-color: white;
    border: 1px solid rgb(202, 196, 196);
    border-radius: 0.2rem;
}

.white-button:hover {
    border: 1px solid rgb(2,212,177);
    color: rgb(2,212,177);
}

.right-button {
    background-color: rgb(2,212,177);
    color: white;
    padding: 0.3rem 1rem;
    border: 1px solid rgb(2,212,177);
    border-radius: 0.2rem;
    margin-right: 5rem;
}

.right-button:hover {
    padding: 0.3rem 1rem; 
    background-color: white;
    border: 1px solid rgb(2,212,177);
    border-radius: 0.2rem;
    color: rgb(2,212,177);
}

.flat-info {
  display: flex;
  flex-wrap: wrap;
  padding-left: 4em;
  justify-content: space-around;
}

.second-page {
    margin-left: 5em;
}

.green-button {
    background-color: rgb(2,212,177);
    color: white;
    padding: 0.3rem 1rem;
    border: 1px solid rgb(2,212,177);
    border-radius: 0.2rem;
    margin-right: 5rem;
}

.green-button:hover {
    padding: 0.3rem 1rem; 
    background-color: white;
    border: 1px solid rgb(2,212,177);
    border-radius: 0.2rem;
    color: rgb(2,212,177);
}

#image, #price, #description {
    width: 70%;
    padding: 0.4rem;
    border: 1px solid rgb(202, 196, 196);
    border-radius: 0.2rem;
}

#city {
    padding: 0.3rem;
    background-color: white;
    border: 1px solid rgb(202, 196, 196);
    border-radius: 0.2rem;
}
